/******************** 
BASE
********************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --light: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 0%);
    --gray-light: hsl(0, 0%, 80%);
    --gray-light--transparent: hsla(0, 0%, 80%, .25);
    --gray-dark: hsl(0, 0%, 40%);
}
body{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}
    @media only screen and (min-width: 1020px){
        body{
            text-align: left;
        }
    }
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,
h2,
h3{
    font-weight: 300;
}
p{
    color: var(--gray-dark);
    hyphens: auto;
    line-height: 1.25;
}

/******************** 
LAYOUT
********************/
.container{
    margin: 0 auto;
    max-width: 40em;
    padding: 4em 0;
    width: 90%;
}
    @media only screen and (min-width: 1020px){
        .container{
            padding: 5em 0;
            max-width: 75em;
        }
    }

#header{
    background-image: url(../img/img-hero-mobile.jpg);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
#header > .container{
    display: flex;
    flex-direction: column;
    min-height: inherit;
}
    @media only screen and (min-width: 760px){
        #header{
            background-image: url(../img/img-hero-desktop.jpg);
        }
    }
#footer{
    background: var(--dark);
}
    @media only screen and (min-width: 1020px){
        #footer > .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
#grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1em;
    grid-auto-rows: 180px;
}
    @media only screen and (min-width: 1020px){
        #grid{
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5em;
            grid-auto-rows: 450px;
        }
    }

/******************** 
MODULE
********************/
/* LOGO */
.logo--large{
    width: 10em;
}
.logo--small{
    display: inline-block;
    width: 8em;
}
    @media only screen and (min-width: 1020px){
        .logo{
            width: 12em;
        }
    }

/* TITLES */
.title--large{
    border: .0625em solid;
    color: var(--light);
    font-size: 2.75em;
    line-height: 1.25;
    margin: auto;
    padding: .75em .25em;
}
.title--medium{
    font-size: 2em;
    margin-bottom: 1rem;
}
.gallery > .title--medium{
    width: 5.75em;
}
.title--small{
    font-size: 1.25em;
    width: 6em;
}
    @media only screen and (min-width: 760px){
        .title--large{
            font-size: 4em;
            width: 7.5em;
        }
    }
    @media only screen and (min-width: 1020px){
        .title--large{
            margin-left: 0;
            width: 11.5em;
        }
        .title--medium{
            font-size: 2.5em;
            margin-left: 0;
            margin-right: 0;
        }
        .about__description > .title--medium{
            text-indent: -.175em;
        }
        .gallery > .title--medium{
            width: auto;
        }
        .title--small{
            font-size: 1.75em;
        }
    }

/* BUTTON */
.btn{
    border: .125em solid var(--gray-dark);
    color: var(--dark);
    display: inline-block;
    font-size: .75em;
    height: 3em;
    letter-spacing: .25em;
    line-height: 3em;
    order: 1;
    text-align: center;
    transition: .3s;
    width: 12em;
}
@media only screen and (min-width: 1020px){
    .btn{
        margin-top: 0;
        order: 0;
        width: 23.35%;
    }
    .btn:hover{
        background: var(--dark);
        color: var(--light);
        letter-spacing: 0;
    }
}

/* NAV */
.nav--large{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2em;
}
    @media only screen and (min-width: 760px){
        .nav--large{
            justify-content: space-between;
        }
    }
    @media only screen and (min-width: 1020px){
        .nav--large{
            align-items: center;
        }
        .nav--small{
            display: grid;
            grid-row-gap: 1.25em;
            justify-content: flex-start;
        }
    }

/* MENU */
.menu__link{
    color: var(--light);
    font-family: "Alata", sans-serif;
    line-height: 1.75;
    transition: .3s;
}
.menu--large{
    display: flex;
}
.menu--large > .menu__item + .menu__item{
    margin-left: 1em;
}
.menu--small{
    font-size: .875em;
    margin: 2.25em 0 2.75em;
}
    @media only screen and (min-width: 760px){
        .menu--small{
            display: flex;
            justify-content: center;
        }
        .menu--small > .menu__item + .menu__item{
            margin-left: 1rem;
        }
    }
    @media only screen and (min-width: 1020px){
        .menu__link:hover{
            color: var(--gray-light);
        }
        .menu--large > .menu__item + .menu__item{
            margin-left: 2rem;
        }
        .menu--small{
            font-size: 1em;
            margin: 0;
        }
    }

/* ABOUT */
.about{
    position: relative;
}
.about__figure{
    margin-bottom: 2em;
}
    @media only screen and (min-width: 760px){
        .about__description {
            background: var(--light);
            bottom: 0;
            padding: 1.5em;
            position: absolute;
            right: -1.75em;
            width: 23em;
        }
    }
    @media only screen and (min-width: 1020px){
        .about__description {
            padding: 3em;
            left: 46.75%;
            width: 32em;
        }
    }

/* GALLERY */
.gallery{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.gallery > #grid{
    width: 100%;
    margin-bottom: 1em;
}
@media only screen and (min-width: 1020px){
    .gallery{
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .gallery > #grid{
        margin-bottom: 0;
    }
}
.gallery__item{
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);
    display: flex;
    justify-content: center;
    padding: 1em;
}
.gallery__item:nth-child(1){
    background-image: linear-gradient(hsla(0,0%,0%,0) 30%, hsla(0,0%,0%,1)), url(../img/img-deep-earth-mobile.jpg)
}
.gallery__item:nth-child(2){
    background-image: linear-gradient(hsla(0,0%,0%,0) 30%, hsla(0,0%,0%,1)), url(../img/img-night-arcade-mobile.jpg)
}
.gallery__item:nth-child(3){
    background-image: linear-gradient(hsla(0,0%,0%,0) 30%, hsla(0,0%,0%,1)), url(../img/img-soccer-team-mobile.jpg)
}
.gallery__item:nth-child(4){
    background-image: linear-gradient(hsla(0,0%,0%,0) 30%, hsla(0,0%,0%,1)), url(../img/img-car-mobile.jpg)
}
.gallery__item:nth-child(5){
    background-image: linear-gradient(hsla(0,0%,0%,0) 30%, hsla(0,0%,0%,1)), url(../img/img-from-above-mobile.jpg)
}
.gallery__item:nth-child(6){
    background-image: linear-gradient(hsla(0,0%,0%,0) 30%, hsla(0,0%,0%,1)), url(../img/img-pocket-borealis-mobile.jpg)
}
.gallery__item:nth-child(7){
    background-image: linear-gradient(hsla(0,0%,0%,0) 30%, hsla(0,0%,0%,1)), url(../img/img-curiosity-mobile.jpg)
}
.gallery__item:nth-child(8){
    background-image: linear-gradient(hsla(0,0%,0%,0) 30%, hsla(0,0%,0%,1)), url(../img/img-fisheye-mobile.jpg)
}
    @media only screen and (min-width: 1020px){
        .gallery__item{
            justify-content: flex-start;
        }
        .gallery__item:nth-child(1){
            background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,1)), url(../img/img-deep-earth.jpg)
        }
        .gallery__item:nth-child(2){
            background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,1)), url(../img/img-night-arcade.jpg)
        }
        .gallery__item:nth-child(3){
            background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,1)), url(../img/img-soccer-team.jpg)
        }
        .gallery__item:nth-child(4){
            background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,1)), url(../img/img-car.jpg)
        }
        .gallery__item:nth-child(5){
            background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,1)), url(../img/img-from-above.jpg)
        }
        .gallery__item:nth-child(6){
            background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,1)), url(../img/img-pocket-borealis.jpg)
        }
        .gallery__item:nth-child(7){
            background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,1)), url(../img/img-curiosity.jpg)
        }
        .gallery__item:nth-child(8){
            background-image: linear-gradient(hsla(0,0%,0%,.0) 50%, hsla(0,0%,0%,1)), url(../img/img-fisheye.jpg)
        }
    }

/* SOCIAL */
.social__list{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: .75em;
}
.social__item + .social__item{
    margin-left: 1.25em;
}
    @media only screen and (min-width: 1020px){
        .social{
            align-items: center;
            display: grid;
            grid-row-gap: 1.25em;
            justify-content: flex-end;
        }
        .social__list{
            justify-content: flex-end;
            margin-bottom: 0;
        }
    }

/******************** 
THEME
********************/
.ruler{
    border-top: .0625em solid var(--gray-light--transparent);
}